<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="noise">
    <div class="min-h-screen flex flex-col">
        {{ partial "header.html" . }}
        
        <main class="flex-grow">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </div>
    <script>
        lucide.createIcons();
    </script>
  </body>
</html>
